.feedback {
  font-size: 17px;
  color: rgb(95, 68, 68);
  letter-spacing: -0.03em;
}
.feedbackGood {
  color: green;
}
.feedbackNeutral {
  color: rgb(150, 150, 150);
}
.feedbackBad {
  color: red;
}
.feedbackText {
  color: rgb(95, 68, 68);
}
