.optionsWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.optionsBtn {
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 10px;
  border-color: transparent;
  background-color: rgb(194, 194, 109);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
  color: white;
  transition: all 400ms ease-in-out;
}
.optionsBtn:hover {
  background-color: rgb(151, 151, 78);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
  transition: all 400ms ease-in-out;
}
